body, html {
  background-color:#2e2c36;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 300;
}

ul {
	list-style-type: none;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.logo {
	width: 100%;
	font-size: 2.5em;
	margin-bottom: 0px;
	margin-top: 50px;
	text-align: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float:right;
}

.current-device {
	font-weight: 300;
	color: #bbb;
	color:#999;
	text-align: center;
}

.device-list {
	position: relative;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	margin-top: 50px;
	padding: 0 25px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.device-list li {
	padding: 15px 15px;
	border: 1px solid #888;
	border-radius: 3px;
	margin: 10px 0;
}

.device-list li:hover {
	background-color:#3d3b48;
	cursor: pointer;
}

.list-inactive {
	font-size: .8em;
	color:#777;
}

.inactive-devices {
	color:#999;
	margin-top: 80px;
	padding:0 75px;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
}

.device-list-wrapper:after {
    display: block;
    content: " ";
    clear: both;
}

.navigation:after {
    display: block;
    content: " ";
    clear: both;
}

.list-title {
	margin-left: 30px;
}

#active-speakers,
#available-speakers {
	min-height: 100px;
}

.navigation {
	text-align: center;
	margin-top:-60px;
}

.navigation p {
	width: 20%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;	
}

.volume-bar {
	height:4px !important;
	margin-top: 30px;
}

.volume-bar .ui-slider-range {
	background:#666;
}

.volume-bar .ui-slider-handle {
	width: 15px !important;
	height: 15px !important;
	border-radius: 30px;
	top: -6px !important;
	background:#333 !important; 
}
