<!DOCTYPE html>
<html>
<head>
  <title>Speaker Sync</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }} "></script>
  <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
</head>

<body>

  <div class="container">
    <h1 class="logo"> SpeakerSync </h1>

    <div class="current-device">
        Your Device: {{ device.name }} ~ {{ device.ip }}
    </div>

    <div class="navigation">
      <p class="pull-left">Speaker Management</p>
      <p class="pull-right">Find Streams</p>
    </div>

    <div class="device-list-wrapper">
      <div class="pull-left device-list">
          <p class="list-title">Active Speakers</p>
        <ul id="active-speakers" class="droptrue">
          {% for speaker in listActive %}
            <li>{{ speaker.name }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="pull-right device-list ">
          <p class="list-title">Available Speakers</p>
        <ul id="available-speakers" class="droptrue">
         {% for speaker in listAvailable %}
          <li>{{ speaker.name }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>

</body>
</html>
